.avatar-container {
  display: flex;
  justify-content: center;
}

.is-256x256 {
  width: 256px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.follow-boxes {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
}

.follow-info {
  margin: 1rem 0 !important;
  width: 100%;
}

.profile-info-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.collapsible {
  padding: 1rem !important;
  margin: 0 1rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}