html,
body {
  height: 100%;
  margin: 0;
  background-color: darkgreen;
}

.avatar {
  margin-bottom: 1rem;
}

.app-container {
  height: 100vh;
  padding: 1rem;
}

.app-content {
  padding: 1rem;
}

.layout-container {
  margin: 0 1rem !important;
  padding: 1rem !important;
}

.bio-text {
  max-width: 300px;
}

.chart-section {
  margin: 1rem 0;
}

.chart-title {
  margin-bottom: 1rem !important;
}

.contributions-chart {
  position: relative;
  height: 200px;
  margin-bottom: 4rem !important;
}