html, body {
  height: 100%;
  margin: 0;
}

.avatar {
  margin-bottom: 1rem;
}

.app-container {
  height: 100vh;
  padding: 1rem;
}

.app-content {
  padding: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.follow-info {
  margin: 1rem !important;
  width: 100%;
}

.test {
  width: 100%;
}